*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:#eaeaea;
}
html, body{
    padding:0;
    margin:0 auto;
    font-family: 'Roboto', 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
    font-weight: normal;
    font-size: 15px;
    background: $background;
    color:#eaeaea
}
a{
    text-decoration:none;
    transition: 0.3s;
}
a:hover{
    color:$accent;
}
ul, li{
    list-style: none;
}
button:focus {
    outline: none;
    border: none;
}

